.brands {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.brands .wrapper {

}

.brands h2 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 100;
  line-height: 1.35em;
  margin-bottom: 1.5em;
}

.brand_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.brand_item {
  margin-bottom: 2em;
  margin-right: 0.5em;
}
.brand_item img {
  max-height: 25px;
  filter: grayscale(100%);
}
.brand_item img:hover {
  filter: grayscale(0%);
  transition: filter 0.3s linear;
}

.brand_link {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #000000;
}
